<!--
  Psst!!! If you're like me, and you like to
  work on websites, why don't you visit my
  GitHub? Contributions are always welcome!

  https://github.com/lunaisnotaboy/lunasresourcesfortsc

  ~ Luna Nova
-->

<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://lunaisnotaboy.github.io/lunasresourcesfortsc/">
    <meta property="og:title" content="Luna's Resources For TSC">
    <meta property="og:description" content="Have you ever gotten stuck on a problem in Mr. Gilmore's Algebra? Or maybe you needed some help in Dr. Carlson's Physics? Well, today's your lucky day!">
    <meta property="og:image" content="https://lunaisnotaboy.github.io/lunasresourcesfortsc/assets/img/meta-card.png">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://lunaisnotaboy.github.io/lunasresourcesfortsc/">
    <meta property="twitter:title" content="Luna's Resources For TSC">
    <meta property="twitter:description" content="Have you ever gotten stuck on a problem in Mr. Gilmore's Algebra? Or maybe you needed some help in Dr. Carlson's Physics? Well, today's your lucky day!">
    <meta property="twitter:image" content="https://lunaisnotaboy.github.io/lunasresourcesfortsc/assets/img/meta-card.png">

    <title>Luna's Resources For TSC</title>
    <meta name="description" content="Have you ever gotten stuck on a problem in Mr. Gilmore's Algebra? Or maybe you needed some help in Dr. Carlson's Physics? Well, today's your lucky day!">

    <link rel="stylesheet" media="all" href="/lunasresourcesfortsc/assets/css/application.css">
    <script src="/lunasresourcesfortsc/assets/js/application.js"></script>
  </head>

  <body class="h-100">
    <nav class="bg-dark navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/lunasresourcesfortsc">
          Luna's Resources For TSC
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNav" class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="active nav-link"
                href="/lunasresourcesfortsc"
                aria-current="page"
              >
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lunasresourcesfortsc/classes">
                Classes
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lunasresourcesfortsc/about">
                About
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container pt-2">
      <h1>Hello, World!</h1>
      <p>This is a test.</p>
    </div>

    <div class="container mt-auto">
      <footer
        class="
          align-items-center
          border-top
          d-flex
          flex-wrap
          justify-content-between
          py-3
        "
      >
        <p class="col-md-4 mb-0 text-muted">
          &copy; 2021 Luna Nova.
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png">
          </a>
        </p>

        <a
          class="
            align-items-center
            col-md-4
            d-flex
            justify-content-center
            link-dark
            mb-3
            mb-md-0
            me-md-auto
            text-decoration-none
          "
          href="https://github.com/lunaisnotaboy/lunasresourcesfortsc"
          target="_blank"
          title="GitHub"
        >
          <svg class="me-2 text-muted" height="32" width="40">
            <use xlink:href="/lunasresourcesfortsc/assets/img/icons.svg#github"/>
          </svg>
        </a>

        <ul class="col-md-4 justify-content-end nav">
          <li class="nav-item">
            <a class="nav-link px-2 text-muted" href="/lunasresourcesfortsc">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 text-muted" href="/lunasresourcesfortsc/classes">Classes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 text-muted" href="/lunasresourcesfortsc/about">About</a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
